<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <meta charset="utf-8"/>
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/core.js"></script>
</head>
<body>
{{> header}}
{{> bottomheader}}
{{> columns}}
<div class="column center">
{{#each memes}}
	<div class="row center" style="margin: 20px;">
		<img class="meme-pic" src="{{this.url}}"></img>
		<div style="margin: 20px; font-family: 'Alcubierre', sans-serif; font-size: 2em;">{{this.stats}}%</div>
	</div>
{{/each}}
{{> footer}}
</div>
</body>
</html>