<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/core.js"></script>
</head>
<body>
<button id="top-btn">TO TOP</button>
{{> header}}
{{> bottomheader}}
{{> columns}}
<div class="column center">
    {{#each memes}}
        <div class="row center" style="margin: 20px; ">
            <div class="column meme-col">
                <img class="meme-pic pic" src="{{this.url}}"/>
            </div>
            <div class="column popularity-col">{{this.stats}}%
            </div>
        </div>
        <div id="overlay"></div>
        <div id="fullsize">
            <img id="fullsizeMeme"  class="open" src=""/>
        </div>
    {{/each}}
    {{> footer}}
</div>
</body>
</html>